
/* Font Styling */
.font-patrick {
    font-family: 'Patrick Hand', cursive;
}
h2, h3 {
    font-family: 'Patrick Hand', cursive;
}

header, footer {
    background-color: #43235b; /* Dark background */
}

/* Button Hover Effect */
a:hover {
    background-color: #2d3748; /* Dark hover effect */
    color: #FFD700;
}

/* Hero Section */
#home {
    background-image: url('Mucuri Heros background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Product Cards */
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Footer Social Media Icons */
footer a {
    color: white;
    transition: color 0.3s ease;
}

footer a .fab.fa-facebook {
    color: #1fe40d; 
}

footer a .fab.fa-twitter {
    color: #1fe40d; /* Twitter Blue */
}

footer a .fab.fa-instagram {
    color: #1fe40d; /* Instagram Gradient Color */
}

/* Footer Text Styles */
footer p {
    margin: 0.5rem 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    #home h2 {
        font-size: 3rem;
    }
    #home p {
        font-size: 1.2rem;
    }
    #home a {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
    }
}
