body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: rgb(182, 11, 91);
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.products {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: #fff;
}

.cart-actions {
    display: flex;
    align-items: center;
}

button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.like-btn {
    color: #ccc;
    background: none;
    border: none;
    font-size: 20px;
}

.like-btn.liked {
    color: red;
}

.cart-summary {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-top: 2px solid #ff6f61;
}

#total-price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
